<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.uncle.lee.engine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="org.uncle.lee.engine.service.EngineService"
            android:exported="true">
            <intent-filter 
                >
                <action android:name="org.uncle.lee.engine.service"/>
            </intent-filter>
        </service>
    </application>

</manifest>
